<!-- BESOIN DE : idUtilisateurConnecter-->

{% extends "base.html.twig" %}

{% block page_title %}Trollé{% endblock %}

{% block page_content %}
    <div><p>Bienvenue sur <strong>Trello-Trollé</strong>!</p></div>
    <div>
        {% if idUtilisateurConnecte is not null %}
        <span><a href="controleurFrontal.php?action=afficherListeMesTableaux&controleur=tableau">Consulter mes tableaux</a></span>
        {% else %}
        <p>
            Pour créer des tableaux, commencez par vous
            <a href="controleurFrontal.php?action=afficherFormulaireConnexion&controleur=utilisateur">connecter</a>
            ou par <a href="controleurFrontal.php?action=afficherFormulaireCreation&controleur=utilisateur">créer un
                compte</a>!
        </p>
        {% endif %}
        <?php %} ?>
    </div>

{% endblock %}