
{% extends "base.html.twig" %}

{% block page_title %}Trollé{% endblock %}

{% block page_content %}
    <div><p>Bienvenue sur <strong>Trello-Trollé</strong>!</p></div>
    <div>
        {% if connexionUtilisateur.loginUtilisateurConnecte is not null %}
        <span><a href="{{ route('afficherListeMesTableaux') }}">Consulter mes tableaux</a></span>
        {% else %}
        <p>
            Pour créer des tableaux, commencez par vous
            <a href="{{ route('afficherFormulaireConnexion') }}">connecter</a>
            ou par <a href="{{ route('afficherFormulaireCreation') }}">créer un
                compte</a>!
        </p>
        {% endif %}
        <?php %} ?>
    </div>

{% endblock %}